*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1px 8px;
        background-color: #0e0d0d;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 100;
    }

    #logo{
        height: 45px;
    }

    .search-bar{
        display: flex;
        flex: 1;
        max-width: 500px;
        margin: 0 20px;
    }
   
    .search-bar input{
        flex: 1;
        padding: 8px;
        border: 1px solid#ccc;
        border-right: none;
        border-radius: 2px 0 0 2px;
    }

    .search-bar button{
        padding: 8px 12px;
        background-color: #f8f8f8;
        border: 1px solid #ccc;
        border-radius: 0 2px 2px 0;
        cursor: pointer;
    }

    .Icons button{
        background: none;
        border: none;
        margin-left: 15px;
        font-size: 20px;
        cursor: pointer;
    }
  
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white
    
}

.container-principal{
    display: flex;
    flex-direction: row;
    
}
.main-part{
    width: 60%;
}
.aside-part{
   width: 30%;
   margin-top: 100PX;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 20px;
    gap: 20px;
}

.main-content{
    flex: 2;
}

.video-player{
    margin-top: 100px;
    width: 60%;
    height: 400px;
    background-color: #000;
}

.video-info{
    margin-top: 15px;
}

.actions{
    margin-top: 10px;
}

.actions button {
    margin-right: 10px;
    padding: 8px 12px;
    border: none;
    background-color: #cc0000;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.actions button:hover{
    background-color: #a00000;
}

.comments-section{
    margin-top: 30px;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
}

#comment-form{
    margin-top: 15px;
    display: flex;
    gap: 10px;
}

#comment-input{
    flex: 1;
    padding: 8px;
}

#comment-form button{
    padding: 8px 12px;
    background-color: #0073e6;
    color: white;
    border:  none;
    border-radius: 4px;
    cursor: pointer;
}

.suggested-videos{
    flex: 1;
    max-width: 350px;
}

.suggested-video{
  display: flex;
  margin-bottom: 15px;
cursor: pointer;
}

.suggested-video img{
    width: 168px;
    height: 94px;
    border-radius: 6px;
    object-fit: cover;
}
.video-details{
    margin-left: 10px;
    flex: 1;
   
}

.video-title{
    font-size: 14px;
    font-weight: bold;
    color: #000;
    margin: 0;  
}